In [ ]:
#Answer_1

#what is mongodb
MongoDB is an open-source document-oriented database that is designed to store a large
scale of data and also allows you to work with that data very efficiently. It is categorized
under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB 
are not in the form of tables.

#Non relational database
A non-relational database is a database that does not use the tabular schema of rows and columns 
found in most traditional database systems. Instead, non-relational databases use a storage model 
that is optimized for the specific requirements of the type of data being stored.

#which scenerio to use mongodb over mysql
Lesser Server Cost and Open-Source NoSQL databases are cheap and open source. NoSQL database implementation 
is easy and typically uses cheap servers to manage the exploding data and transaction while RDBMS databases
are expensive and it uses big servers and storage systems. 

• Dynamic schema: As mentioned, this gives you flexibility to change your data schema without modifying 
any of your existing data.

• Scalability: MongoDB is horizontally scalable, which helps reduce the workload 
and scale your business with ease.

Manageability: The database doesn’t require a database administrator.
Since it is fairly user-friendly in this way, it can be used by both developers and administrators.

• Speed: It’s high-performing for simple queries. • Flexibility: You can add new columns or fields on 
MongoDB without affecting existing rows or application performance.

In [ ]:
#Answer_2

#feature of mongodb
1. Document Oriented
MongoDB stores all the data in the form of documents instead of tables like in RDBMS. 
In these documents, the data is stored in key-value pairs instead of rows and columns which
make the data much more flexible in comparison to RDBMS where each document contains a unique ID.

2. Schema-less Database
Schema-less database is a great feature provided by MongoDB which means one collection can
hold different types of documents in it. In the MongoDB database, a single collection can hold multiple 
documents and these documents may consist of the different numbers of fields, content, and size. It is not 
required that a document is similar to another document as it is in the case of relational databases.
Due to this amazing feature, MongoDB provides great flexibility to databases.

3. Scalability
MongoDB provides horizontal scalability with the help of a mechanism known as sharding. 
Sharding refers to the process of distributing data on multiple servers, here a large amount
of data is partitioned into data chunks using the shard key, and these data chunks are evenly 
distributed across shards that reside across many physical servers. It can also add new machines to a running database.

4. Indexing
MongoDB database indexes every field in the documents with primary and secondary indices which
makes it easier and takes less time to get or search data from the pool of the data. If the data 
is not indexed, then the database searches each document with the specified query which takes lots 
of time and is not so efficient.

5. Aggregation
MongoDB also allows to perform operations on the grouped data and get a single result or computed result.
It provides three different aggregations, namely, aggregation pipeline, map-reduce function, and single-purpose
aggregation methods.

6. High Performance
Due to its features like scalability, indexing, replication, etc., the performance of MongoDB becomes 
very high as also data persistence, as compared to any other databases.

In [2]:
#Answer_3

#program for connect mongodb to python
import pymongo
client = pymongo.MongoClient("mongodb+srv://abhisheksingh:abhisheksingh@cluster0.pnh50if.mongodb.net/?retryWrites=true&w=majority")
db = client.test

#now we create database
db=client['my_data_base']

#now create collection 
coll_my_data_base=db['my_record']

In [3]:
#Answer_4

#now we create data for insert data into my_data_base 
student_info={'name':'abhi','class': 'B.tech 3rd ','roll_no':'201111'}

coll_my_data_base.insert_one(student_info)          #we use insert_one command that insert only one record

In [5]:
#now we create multiple data and insert into my_data_base
teacher_info=[
               {'name':'Nitesh kumar','salary':'800000'},
               {'name':'Richa','salary':'1000000'},
                 {'name':'Preeti phogat','salary':'1200000'},
                 {'name':'parshant kumar','salary':'900000'}]

coll_my_data_base.insert_many(teacher_info)

In [9]:
#now we reterive data from data base
for i in coll_my_data_base.find():       #find() method is used to reterive data from database and it retrive all data at once
    print(i)

{'_id': ObjectId('63fb364307f1f27f522d3ae2'), 'name': 'abhi', 'class': 'B.tech 3rd ', 'roll_no': '201111'}
{'_id': ObjectId('63fb377c07f1f27f522d3ae3'), 'name': 'Nitesh kumar', 'salary': '800000'}
{'_id': ObjectId('63fb377c07f1f27f522d3ae4'), 'name': 'Richa', 'salary': '800000'}
{'_id': ObjectId('63fb377c07f1f27f522d3ae5'), 'name': 'Preeti phogat', 'salary': '800000'}
{'_id': ObjectId('63fb377c07f1f27f522d3ae6'), 'name': 'parshant kumar', 'salary': '800000'}
{'_id': ObjectId('63fb37b507f1f27f522d3ae7'), 'name': 'Nitesh kumar', 'salary': '800000'}
{'_id': ObjectId('63fb37b507f1f27f522d3ae8'), 'name': 'Richa', 'salary': '1000000'}
{'_id': ObjectId('63fb37b507f1f27f522d3ae9'), 'name': 'Preeti phogat', 'salary': '1200000'}
{'_id': ObjectId('63fb37b507f1f27f522d3aea'), 'name': 'parshant kumar', 'salary': '900000'}

In [14]:
#now we reterive data 
coll_my_data_base.find_one()        #find_one() method is used to reterive one record from data base

{'_id': ObjectId('63fb364307f1f27f522d3ae2'),
 'name': 'abhi',
 'class': 'B.tech 3rd ',
 'roll_no': '201111'}

In [27]:
#Answer_5

#now we execute simple query in mongodb database
for i in coll_my_data_base.find({'name':'Nitesh kumar'}):
    print(i)
    
#find that teacher which salary have less than ten lakh
for i in coll_my_data_base.find({ 'salary': '1000000' }):
    print(i)

{'_id': ObjectId('63fb377c07f1f27f522d3ae3'), 'name': 'Nitesh kumar', 'salary': '800000'}
{'_id': ObjectId('63fb37b507f1f27f522d3ae7'), 'name': 'Nitesh kumar', 'salary': '800000'}
{'_id': ObjectId('63fb37b507f1f27f522d3ae8'), 'name': 'Richa', 'salary': '1000000'}

In [46]:
#Answer_6

The sort() method specifies the order in which the query returns the matching documents from 
the given collection. You must apply this method to the cursor before retrieving
any documents from the database. It takes a document as a parameter that contains a field: 
value pair that defines the sort order of the result set. The value is 1 or -1 specify an 
ascending or descending sort respectively.

SyntaxError: invalid syntax (3553006571.py, line 3)

In [55]:
person_data=[
               {'name':'Nitesh kumar','age':34},
               {'name':'Richa','age':56},
                 {'name':'Preeti phogat','age':34},
                 {'name':'parshant kumar','age':45}]
coll_my_data_base.insert_many(person_data)
coll_my_data_base.find().sort({'age':1})

In [ ]:
#Answer_7

#delete_one
when one document is delete from database we use delete_one() method

#delete_many
when more than one document is delete from database we use delete_many() method

#drop 
drop() method is used to drop a collection from a database. It completely removes a collection from the database and does 
not leave any indexes associated with the dropped collections